{% extends "base.html"%} {% block content %}
<div class="pt-16" id="signup">
	<h1 class="font-bold text-3xl text-center">Account Registration</h1>
	<p class="text-sm text-center pb-4 pt-2">
		<b>Note:</b> You can only register as a vendor to this system
	</p>
	<div
		class="p-6 gap-10 mt-4 max-w-[500px] mx-auto outline outline-2 outline-sky-500 transition duration-150 rounded-md group mb-4 hover:text-sky-500 hover:outline-3"
	>
		<a
			href="{% url 'vendor_signup' %}"
			class="p-6 transition-[outline,box-shadow] duration-150 rounded-md text-center cursor-pointer group-hover:shadow-xl group-hover:bg-gray-50 border block"
		>
			<span class="font-semibold text-xl pb-2 block">Signup as a Vendor</span>
			<span class="text-sm leading-relaxed tracking-wide">
				Join us as a vendor to showcase your products and services to our
				network of purchasing professionals. Expand your reach and grow your
				business by connecting with us
			</span>
		</a>
	</div>

	<div class="" ref="loginRef">
		<p class="text-center text-sm">
			Already have an account?
			<a href="{% url 'account_login' %}">
				<b class="text-sky-500 text-base">Login now</b>
			</a>
		</p>
		<div class="min-h-5 block w-full opacity-0"></div>
	</div>
</div>

{% endblock %}
